$color-green: #00cc99;
$color-green-light: #66ffd9;

$color-white: white;
$color-gray-lightest: #EEE;
$color-gray-light: #CCC;
$color-gray-mid: #666;
$color-gray-dark: #565656;
$color-gray-darkest:#333;

$color-font-paragraph: $color-gray-darkest;
